.btn-table-action {
    padding: 8px 24px;
    height: 36px;
    background: #00FFA4;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #121619;
}

.trx_pagination_btn {
    width: 108px;
    background: var(--background-four);
    color: var(--font-eight);
}