:root {
    --theme-neon-bg: #00FFA4;
    --background-dark: #0D0D0D;
    --white: #FFFFFF;
    --background-disabled: rgba(255, 255, 255, 0.05);
    --font-disabled: rgba(255, 255, 255, 0.6);
    --font-text: #878D96;
    --font-light: #939394;
    --font-mono: rgba(255, 255, 255, 0.4);
    --font-secondary: #B6B6B6;
    --background-rail: #00FFA4;
    --background-input: #151517;
    --border-input: rgba(255, 255, 255, 0.2);
    --slider-rail: #4D5358;
    --font-light-white: #F3F5F7;
    --black: #000000;
    --border-light-black: rgba(255, 255, 255, 0.1);
    --close-bg: #21262A;
    --font-intro: #DDE1E6;
    --modal-bg: rgba(255, 255, 255, 0.04);
    --modal-shadow: rgba(0, 0, 0, 0.37);
    --modal-btn: #272D31;
    --modal-error: #EB6464;
    --summary_text: #7E7E86;
    --form-text: rgba(255, 255, 255, 0.54);
    --form-title: rgba(255, 255, 255, 0.24);
    --btn-border-disabled: rgba(243, 245, 247, 0.24);
    --green-disabled: #009962;
    --green-active: #00CC83;
    --font-primary: #00FFA4;
    --font-secondary: #FFFFFF;
    --font-tertiary: rgba(255, 255, 255, 0.54);
    --font-four: #878D96;
    --font-five: #F3F5F7;
    --font-six: #00CC83;
    --font-seven: rgba(255, 255, 255, 0.6);
    --font-eight: rgba(255, 255, 255, 0.87);
    --font-nine: rgba(255, 255, 255, 0.38);
    --background-primary: #21262A;
    --background-secondary: #21262A;
    --background-tertiary: #272D31;
    --background-four: rgba(255, 255, 255, 0.1);
    --background-five: #4D5358;
    --border-primary: #2C2D3A;
    --border-secondary: #272D31;
    --border-tertiary: rgba(255, 255, 255, 0.16);
    --border-four: #00CC83;
}